/* General */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    user-select: none;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

.game:after {
    content: "";
    display: table;
    clear: both;
}

/* Board */
.board {
    float: left;
    background: green;
    background: radial-gradient(lightgreen, green);
    padding: 40px;
    width: 60%;
    height: 100vh;
    border-width: 10px;
    border-style: inset;
    border-color: saddlebrown;
    box-shadow: inset 0px 0px 10px 5px darkgreen;
    position: relative;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: linear-gradient(top, #3e779d, #65a9d7);
    padding: 9px 18px;
    border-radius: 9px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.bottom-left {
    position: absolute;
    bottom: 5vh;
    left: 5%
}
.bottom-right {
    position: absolute;
    bottom: 5vh;
    right: 5%
}

/* Score Box */
.scorebox {
    float: left;
    background: lightgray;
    box-shadow: inset 0px 0px 5px 5px dimgray;
    padding: 1vh 1%;
    width: 40%;
    height: 100vh;
}

table, th, td {
    color: darkgreen;
    padding: 5px;
    border: 5px solid darkgreen;
    border-collapse: collapse;
}