<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles">
    </head>
    <body>
        <div id="die1">--</div>
        <button id="roll">Roll</button>
        <button id="openlb">Update Leaderboard</button>
        <div class="leaderboard">
            <div class="header">LEADERBOARD</div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Total Score</th>
                        </tr>
                    </thead>
                    <tbody id="lb">
                    </tbody>
                </table>
                <span id="noscore">Be the first to score the game!</span>
            </div>
        </div>
        <script type="text/javascript" src="script"></script>
    </body>
</html>