/* General */
* {
    box-sizing: border-box;
}

html {
    -webkit-user-select: none;
    user-select: none;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

.game:after {
    content: "";
    display: table;
    clear: both;
}

/* Board */
.board {
    float: left;
    background: green;
    background: radial-gradient(lightgreen, green);
    width: 60%;
    height: 100%;
    border-width: 10px;
    border-style: inset;
    border-color: saddlebrown;
    box-shadow: inset 0px 0px 10px 5px darkgreen;
    position: relative;
}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    padding: 1%;
    border-radius: 9px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.3) 0 2px 0;
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    vertical-align: middle;
    width: 35%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
.button:disabled {
    border-top-color: #4c4c4d;
    background: #a8a8a8;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.bottom-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.text-right {
    text-align: right;
}

/* Dice */
.dice {
    width: 100%;
    left: 0;
    top: 30%;
    height: 30%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.die {
    margin: 2vh 5%;
    border-radius: 20%;
    background: lightgray;
    background: radial-gradient(white, lightgray);
    box-shadow: rgba(0,0,0,.6) 0 3px 3px 3px;
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    padding: min(0.5vw, 0.5vh);
}
.die:hover, .die:hover .dot {
    opacity: 0.5;
}
.die:active, .die:active .dot {
    opacity: 0.75;
}

.selected {
    background: rgba(163, 163, 163, 0.5) !important;
}

.d1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d2, .d3, .d4, .d5, .d6, .col {
    display: flex;
    justify-content: space-between;
}
.col {
    flex-direction: column;
}
.d2 .dot:nth-of-type(2), .d3 .dot:nth-of-type(1) {
    align-self: flex-end;
}
.d3 .dot:nth-of-type(2) {
    align-self: center;
}
.d5 .col:nth-of-type(2) {
    justify-content: center;
}

/* Dots */
.dot {
    display: block;
    width: min(2.7vw, 2.7vh);
    height: min(2.7vw, 2.7vh);
    border-radius: 50%;
    background-color:black;
}

/* Score Box */
.scorebox {
    float: left;
    background: lightgray;
    box-shadow: inset 0px 0px 5px 5px dimgray;
    padding: 1vh 1vw;
    width: 40%;
    height: 100vh;
    overflow: auto;
}

.scorebox table, .scorebox th, .scorebox td {
    color: darkgreen;
    padding: 5px;
    border: 5px solid darkgreen;
    border-collapse: collapse;
}

/* Leaderboard */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.leaderboard {
    width: 40%;
    height: 80%;
    background: rgb(82, 53, 26);
    background: radial-gradient(rgb(138, 90, 45), rgb(82,53,26));
    margin: auto;
    border-width: 10px;
    border-style: ridge;
    border-color: saddlebrown;
}
.header {
    height: 6%;
    font-size: 1.5rem;
    font-family: 'Segoe UI', 'Arial', 'san-serif';
    background: darkgreen;
    background: radial-gradient(green, darkgreen);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2%;
    border-style: ridge;
    border-color: green;
}
.content {
    width: 100%;
    height: 93%;
    overflow: auto;
    margin: auto;
}
.content table, .content th, .content td {
    font-size: 1.1rem;
    font-family: 'Segoe UI', 'Arial', 'san-serif';
    color: white;
    width: 100%;
    table-layout: fixed;
    padding: 1% 1%;
    text-align: center;
    box-shadow: inset;
}
.content th {
    font-weight: bold;
}
.content tbody tr:nth-of-type(1) td:nth-of-type(1) {
    background-color: rgb(255,215,0);
    background-color: rgba(255,215,0,0.6);
}
.content tbody tr:nth-of-type(2) td:nth-of-type(1) {
    background-color: rgb(169,169,169);
    background-color: rgba(169,169,169,0.6);
}
.content tbody tr:nth-of-type(3) td:nth-of-type(1) {
    background-color: rgb(148,109,12);
    background-color: rgba(148,109,12,0.6);
}
.content th:nth-of-type(1), .content td:nth-of-type(1) {
    font-weight: bold;
    background-color: rgba(0,0,0,0.6);
}
.content th:nth-of-type(2), .content td:nth-of-type(2) {
    background-color: rgba(0,0,0,0.4);
}
.content thead tr th:nth-of-type(1) {
    width: 40%;
}